:root {
  --bgColor: #08070a;
  --textColor: #D9D9D9;
  --linkColor: var(--textColor);
  --textColorHover: #999999;
}

@font-face {
  font-family: "MesloLGS NF";
  font-size: 16px;
}

body {
  font-family: "MesloLGS NF";
  font-size: 16px;
  background: var(--bgColor);
  color: var(--textColor);
  border: #8A8A8A;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

a {
  color: var(--linkColor);
  text-decoration: underline;
  margin-top: .2rem;
}

a > div:hover {
    color: var(--textColorHover)
}


.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20rem;
  margin-left: 830px;
 /* outline-style: solid;
  outline-color: #5b5b5b;
  outline-width: 3px;*/
}

.flex-top-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.top-bar {
  margin-left: 0.2rem;
  margin-bottom: 0.1rem;

}

.flex-center {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.center-box {
  flex-direction: column;
  display: flex;
  margin: .50rem;
  padding-bottom: 1rem;
}

.flex-bottom-bar {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  color: var(--bgColor);
  /*background-color: var(--textColor); */
}

.botton-bar {
  padding: 0.5rem;
}

.searchbox {
	color: #A6A6A6;
	border-radius: 14px;
	text-decoration: none;
	width: 50em;
	box-shadow: 5px 5px 3px rgba(27, 34, 38, 0.55);
	padding: 0.2em;
}
.search-form {
    width: 20rem;
    outline: none;
    border: none;
    color: var(--textColor);
    background-color: var(--bgColor);
    font-family: "MesloLGS.NF";
    padding-left: .4rem;
    caret-color: var(--textColor);
}


.tilde {
    color: #08070a;
}

